<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['dashboard']">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['about']">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['todo']"
       [routerLink]="['todo']">To Do List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['icecream']">IceCream</a>
  </li>
</ul>
