<form class="form-group">
  <label for="title">Book</label>
  <input id="title" name="title" #title
          required class="form-control">
  <label for="author">Author</label>
  <input id="author" name="author" #author
        required class="form-control">

  <select name="bookFormat"
  #format
  class="btn btn-primary"
  value="Book Format">
    <option value="hardcover" selected>Hardcover</option>
    <option value="paperback">Paperback</option>
    <option value="ebook">E-Book</option>
  </select>
  <input type="submit"
         (click)="addBook(book, author, format)"
         class="btn btn-primary"
         value="Add Book">
</form>
